body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-self: flex-start;
    padding-left: 100px;
    font-size: 24px
}
.links{
    display: flex;
    padding-right: 100px;
    gap: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 75px;
}

.header, .container-1, .footer{
    background-color: #1F2937;
}

.logo, .links, .footer{
    color: #e5e7eb;
}

.container-1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.left{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.right{
    display: flex;
    padding-right: 100px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 300px;
    background-color: grey
}

h1{
    font: 900;
    font-size: 48px;
    color: #f9faf8;
}

.blurb, .links, .right{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    width: 75px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    color: #f9faf8;
}

.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.boxes{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    gap: 15px;
}

.cont-2{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box{
    display: flex;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    border-width: 0 2px;
    border: solid #3882f6;
    
}  

.box-info{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.info{
    text-align: center;
    width: 150px;
    font-size: 18px;
}

.container-3{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 200px;
    justify-content: center;
    align-items: center;
    
}

.quote{
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.signed{
    display: flex;
    padding-left: 525px;
    text-align: flex-end;
    font-weight: 700;
}

.container-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.blue-box{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    height: 75px;
    width: 675px;
    align-items: center; 
    border-radius: 6px;
}
.button-2{
    border-width: 1px;
    border: solid #f9faf8;
}

.call{
    color: #f9faf8;
    font-size: 26px;
    font-weight: 900px;
}