body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;

}

.logo{
    display: flex;
    justify-self: flex-start;
    padding-left: 100px;
    font-size: 24px
}
.links{
    display: flex;
    padding-right: 100px;
    gap: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 75px;
}

.header, .container-1, .footer{
    background-color: #1F2937;
}

.logo, .links, .footer{
    color: #e5e7eb;
}